.float-right {float: right;}
.float-left {float: left;}

.text-align-center {text-align: center;}
.text-align-left {text-align: left;}
.text-align-right {text-align: right;}

.font-bold {font-weight: bold;}
.font-bolder {font-weight: bolder;}

.font-color-red {color:#FF5722;}