{include file="Tpl/header"}
<admin-blockquote>模板上传</admin-blockquote>
<style type="text/css">
  .ups {
    height: 300px;
    line-height: 300px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    /*border-bottom: 1px solid #ddd;*/
    border:3px dotted #ddd;
    border-radius: 5px;
  }
</style>
<form action="" method="post"  enctype="multipart/form-data">

  <div class="ups" id="test1">点击选择文件</div>

</form>
{include file="Tpl/footer"}
<script>
layui.use('upload', function(){
  showLoading();

  var upload = layui.upload;
  //执行实例
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: "{:url('admin/upload/tpl_upload')}"
    ,accept : 'file'
    ,exts : 'zip'
    ,field :'tplZIP'
    ,done: function(res){
      if(res['code'] == 0){
        var id  = res['data'];
        // 上传成功 开始显示选择分类
        alertMsg(1,'上传成功 即将选择分类',0);

        setTimeout(function(){
           var tjUrl  = "{:url('add_select_cate')}" + '?id=' + id;
           window.location.href   =   tjUrl;
        },1000);
      }else{
        // 上传成功 开始显示选择分类
        alertMsg(0,'上传失败！',0);
      }
    }
    ,error: function(){
      //请求异常回调
    }
  });

  hideLoading();
});
</script>