{include file="Tpl/header"}
<admin-blockquote>模板分类选择</admin-blockquote><br>
<div class="layui-row">
	<!-- 左边 -->
	<div class="layui-col-md6">
		<form class="layui-form" action="">
			<!-- 访问端类型 -->
			<div class="layui-form-item">
		    <label class="layui-form-label">展示端</label>
		    <div class="layui-input-block">
		      <input type="radio" name="tpl_port" value="0" title="默认" checked>
		      {volist name="showPort" id="showPort"}
		      	<input type="radio" name="tpl_port" value="{$showPort.portname}" title="{$showPort.portname}">
		      {/volist}
		    </div>
		  </div>
			<!-- 选择所属产品类型 -->
			<div class="layui-form-item">
			    <label class="layui-form-label">所属产品</label>
			    <div class="layui-input-block">
			      <select name="city" lay-verify="required">
			          {volist name="tplCateList" id="tplCateList"}
			          	<option value="{$tplCateList.id}">{$tplCateList.catename}</option>
			          {/volist}
			      </select>
			    </div>
		  	</div>
			<!-- 选择分类 -->
			<div class="layui-form-item">
			    <label class="layui-form-label">模板分类</label>
			    <div class="layui-input-block">
			      <select name="city" lay-verify="required">
			          {volist name="tplCateList" id="tplCateList"}
			          	<option value="{$tplCateList.id}">{$tplCateList.catename}</option>
			          {/volist}
			      </select>
			    </div>
		  	</div>
		</form>
	</div>
	<!-- 右边 -->
	<div class="layui-col-md6">
		<img src="">
	</div>
</div>
<script type="text/javascript">
	layui.use('form', function(){
  		var form = layui.form;
  		form.render();
  	})
</script>
{include file="Tpl/footer"}