{include file="Tpl/header"}
<admin-blockquote>
模板管理
<button class="layui-btn layui-btn-sm layui-btn-danger float-right" style="margin-right:15px;" onclick="window.location.href = '{:url("admin/template/add")}'">上传模板</button>
</admin-blockquote>

<div class="layui-row layui-col-space30">
	{volist name="listData" id="listData"}
	<div class="layui-col-md3">
		<div class="tpl-list-block">
			<!-- 图片 -->
			<div class="tpl-list-block-img">
				<img src="{$listData.thumb}"/>
			</div>
			<!-- 按钮 -->
			<div class="tpl-list-block-btn">
				<div class="tpl-list-block-btn-left">
					<button class="layui-btn layui-btn-sm layui-btn-danger" onclick="showTplInfo({$listData.id});">
  						<i class="layui-icon">主题信息</i>
					</button>
				</div>
				<div class="tpl-list-block-btn-right">
					<button class="layui-btn layui-btn-sm layui-btn-warm">
  						<i class="layui-icon">删除主题</i>
					</button>
				</div>
			</div>
		</div>
	</div>
	{/volist}
</div>
<script type="text/javascript">
	$(function(){
		var tplBlock 	=	$('.tpl-list-block');
		var tplBlockImg =	$('.tpl-list-block-img');
		// 当页面初始化之后  设置block 的高度  与宽度相等
		var tplBlockWidth 	=	$('.tpl-list-block').width();
		tplBlockImg.css('height',tplBlockWidth);
	})


	// 显示主题信息
	function showTplInfo(id){
		showLoading();
		// 开始获取主题信息
		$.ajax({
			url:"{:url('getonemessage')}",
			data:{type:'tpl',id:id},
			success:function(res){
				var code 	=	res['code'];

				if(!code || code == 'undefined'){
					alertMsg(res['code'],res['msg'],res['code']);return false;
				}

				var msg 	=	res['msg'];

				// 获取信息成功
				var html 	=	"<div class='tpl-pop-box'><ul>";
				var html 	=	html + '<li>主题名：' + msg['tpl_name'] + '</li>';
				var html 	=	html + '<li>作者：' + msg['author'] + '</li>';
				var html 	=	html + '<li>版本：' + msg['version'] + '</li>';
				var html 	=	html + '<li>颜色：' + msg['color'] + '</li>';
				var html 	=	html + '<li>添加时间：' +  msg['adddate'] + '</li>';
				var html 	=	html + '<textarea>' + msg['description'] + '</textarea>';
				var html 	= 	html + '<ul></div>';

				// 开始提示
				layer.open({
				  type: 1,
				  title: '主题信息',
				  closeBtn: 1,
				  shadeClose: true,
				  skin: 'tpl-pop',
				  content: html
				});
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
	    		// 访问失败了 
				alertMsg(0,XMLHttpRequest.status,0);
	    	}
		});
		hideLoading();
	}

	// 删除主题
	function delTpl(id){
		$.ajax({
			url:"{:url('deltpl')}",
			data:{id:id},
			success:function(res){
				alertMsg(res['code'],res['msg'],res['code']);
			},
			error:function(XMLHttpRequest, textStatus, errorThrown){
	    		// 访问失败了 
				alertMsg(0,XMLHttpRequest.status,0);
	    	}
		});
	}

</script>
{include file="Tpl/footer"}
